[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
requests = "*"
selenium = "*"
jinja2 = "*"
urllib3 = "<2.0"
boto3 = "*"
dynaconf = "*"

[dev-packages]
black = "*"
pylint = "*"
nodeenv = "*"

[requires]
python_version = "3.8"
