[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
beautifulsoup4 = "*"
requests = "*"
selenium = "*"
jinja2 = "*"

[dev-packages]
black = "*"
pylint = "*"
nodeenv = "*"

[requires]
python_version = "3.11"
